<!DOCTYPE html>
<html lang="en">

<body>
    <div class ="container">
        <div>
            <h1>REGISTRATION NUMBER APP</h1>
        </div>

    <div>
        <p>Please enter a valid registration number and press the add button</p>
    </div>

    <div class="regInput">
        <form action="/reg_number" method="post">
        
        <label for="Registration">Registration Number:</label>
        <input type="text" class="inputPlate" name="registration" placeholder="eg CA 123, CY 123 etc">

        

        <button class="add" type="submit"name="add">Add</button>

        <div class="registrationPlate">
            <input type="radio" class="cape" name="plate" value="Cape Town">
            <label for="cape">Cape Town</label>
            <input type="radio" class="paarl" name="plate" value="Paarl">
            <label for="paarl">Paarl</label>
            <input type="radio" class="stelle" name="plate" value="Stellenbosch">
            <label for="stelle">Stellenbosch</label>
            <input type="radio" class="all" name="plate" value="All">
            <label for="all">Show All</label>

        </div>
        </form> 
    </div>

     <div class="display" style="margin-top: 80px;">
         {{#each reg}}
        <ul>
            {{this}}
        </ul>
        {{/each}}
        </div>
    </div>
    
</body>
</html>